.metismenu ul a {
  color: #4d5052;
  font-size: 13px;
  padding: 5px 15px 5px 30px;
  position: relative;
}

.metismenu ul Link {
  color: red;
  font-size: 13px;
  padding: 5px 15px 5px 30px;
  position: relative;
}
