.App {
  font-family: sans-serif;
}
.header {
  padding: 5px;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
.sourceLink {
  left: 20px;
  bottom: 25px;
  position: absolute;
  color: #fff;
}
.header small {
  text-align: right;
  display: block;
  margin-bottom: 5px;
}
.header a {
  color: white;
  text-decoration: underline;
}
#multiselectContainerReact {
  margin-bottom: 20px;
  float: none;
}
code {
  padding: 10px;
  background: #f1f1f1;
}
.mt10 {
  margin-top: 2px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt40 {
  margin-top: 40px;
}
.displayBlock {
  display: block;
}
.contents a {
  display: block;
  margin-bottom: 10px;
  color: #45576b;
  text-decoration: underline;
}
.otheroptions {
  font-size: 14px;
}

.optionContainer li {
  padding: 2px;
}
.undefined option {
  padding: 2px;
}

/* Overriding element hover */
.optionContainer li:hover,
.optionContainer .highlight {
  background: #17a2b8;
  padding: 2px;
  margin-bottom: 2px;
  color: #fff;
  // #00b5ad,
}

.optionContainer li {
  padding: 2px;
  height: 30px;
  color: black;
}
.optionContainer .highlight {
  background: green;
  padding: 2px;
  color: #fff;
  // #00b5ad,
}
/* Ends overriding */

body {
  background: #f3f1f2;
  font-family: sans-serif;
}

.ql-editor {
  min-height: 200px !important;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

.app {
  margin: 1rem 4rem;
}

.app .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.app .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.btn btn-success {
  margin-left: 20px;
}

/* Bubble Theme */
.app .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.app .ql-editor {
  min-height: 18em;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}
